.customer {
    text-align: center;
    width: 100%;


}

.customer-content h1{
    color: var(--color-text);
    text-align: center;
    font-family: var(--font-family);
    font-size: 80px;
    font-weight: 724;
    letter-spacing: -1.6px;
    margin-bottom: 1rem;



}

.oval-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -5rem;
}
  
.oval {
    width: 200px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50% / 100% 100%;
}
  
.blur-effect {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    inset: 0;
    border-radius: 50% / 100% 100%;
    backdrop-filter: blur(20px);
}
  
  

.customer-content p{
    position: relative;
    top:-23rem;
    text-align: center;
    font-style: italic;
    font-size: 42px;
    font-weight: 500;
    color: var(--color-text);


}
.custom-line{
    width: 20%;
    height: 4px;
    border: none;
    margin: auto;
    position: relative;
    top:-20rem;
    background: linear-gradient(169deg, #C14BF2 0%, #E85FFB 100%);
    ;
}



.customer__text{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

}
.customer-text h1{
    font-size: 40px;
    
}
.customer-text h2{
    font-size: 18px;
    color: var(--color-text);

    
}



/* styles.css */
.icons {
    margin: 20px 0;
  
}
  
.icon { 
    width: 20px;
    height: 20px;
    font-size: 16px;
    margin-right: 10px;
}


.para {
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 500;
} 

.image2 img{
    width: 100%;
    max-width: 508px;
    height: auto;     
}



@media screen and (max-width: 1050px) {
    .customer__text{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    
    }

    .customer-content p{
        position: relative;
        top:-11rem;
        text-align: center;
        font-style: italic;
        font-size: 25px;
        font-weight: 500;
    
    }
    .custom-line{
        top:-8rem;

    }
  
    

}

@media screen and (max-width: 650px) {

    
  
   
   
 
   

}
