.customer {
    text-align: center;
    width: 100%;

}

.customer-content h1{
    color: #0B0B0B;
    text-align: center;
    font-family: var(--font-family);
    font-size: 80px;
    font-weight: 724;
    letter-spacing: -1.6px;
    margin-bottom: 2rem;


}

.customer-content p{
    position: relative;
    top:-15rem;
    text-align: center;
    font-style: italic;
    font-size: 42px;
    font-weight: 500;

}
.custom-line{
    width: 20%;
    height: 4px;
    border: none;
    margin: auto;
    position: relative;
    top:-12rem;
    background: linear-gradient(169deg, #C14BF2 0%, #E85FFB 100%);
    ;
}



.customer__text{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

}
.customer-text h1{
    font-size: 40px;
    
}
.customer-text h2{
    font-size: 18px;
    
}



/* styles.css */
.icons {
    margin: 20px 0;
  
}
  
.icon { 
    width: 20px;
    height: 20px;
    font-size: 16px;
    margin-right: 10px;
}


.para {
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: #434242;
    font-size: 18px;
    font-weight: 500;
} 

.image2 img{
    width: 100%;
    max-width: 508px;     
}



@media screen and (max-width: 1050px) {
    .customer__text{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    
    }

    .customer-content p{
        position: relative;
        top:-11rem;
        text-align: center;
        font-style: italic;
        font-size: 25px;
        font-weight: 500;
    
    }
    .custom-line{
        top:-8rem;

    }
  
    

}

@media screen and (max-width: 650px) {

    
  
   
   
 
   

}
