
.header {
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
.header-content h1{
    color: #0B0B0B;
    text-align: center;
    font-size: 68px;
    margin-bottom: 2rem;
    margin-top: 5rem;


}


.header-content p{
    text-align: center;
    font-size: 18px;
    margin-top: 2rem;
    font-weight: 400;


}


.input-container{
    margin-top: 4rem;

}
.input-field{
    width: 100%;
    max-width: 622px;    
    height: 67px;
    padding: 18px 64px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #D9CDCD;
    background: #FFF;
    font-size: 18px;
}
.button{
    width: 246px;
    height: 67px;
    padding: 18px 60px;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(180deg, #61B4F0 0%, #2A72DA 100%);
    border: none;
    color: #FFF;
    font-size: 16px;


}



.header-content1{
    width: 100%;
    margin-top: 10rem;
    
}

.header-content1 .image{
    width: 100%;
    max-width: 1413px;
    height: auto;
}

.Star{
    position: relative;
    width: 25px;
    height: 25px;
    top:0.4rem;
}
  
@media screen and (max-width: 1050px) {
    .header{
        flex-direction: column;
    }

    .input-field{
        border-radius: 10px 10px 10px 10px;
        text-align: center;
    }

    .button{
        border-radius: 10px 10px 10px 10px;
        margin-top: 20px;
        background: linear-gradient(180deg, #61B4F0 0%, #2A72DA 100%);
    
    
    }
  
}

@media screen and (max-width: 650px) {
    .header-content h1{
        font-size: 48px;
        margin-top: 8rem;
    }
  
    .box {
        width: 60px;
        height: 60px;
        position: relative;
        top:0.2rem;
    }
    .header-button .button1{
        padding: 15px 20px;
        font-size: 14px;
  
    }
    .header-button .button2{
        padding: 15px 20px;
        font-size: 14px;
 
    }

    .header-content__human img{
        max-width: 100%;
        position: relative;
        top: -2.8rem;
        display: flex;
        justify-content: center;
    
    }

}



