
.header {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header-content{
    position: relative;
    z-index: 7;

}


  
.header-content h1{
    color: #f8f3f3;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 2rem;



}
  
.header-content h2{
    text-align: center;
    font-weight: 600;
    color: #D9CDCD;



}


.header-content p{
    margin-top: 2rem;
    font-weight: 200;
    color: #fafafa;
    text-align: center;
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;


}


.input-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.input-field{
    width: 100%;
    max-width: 622px;    
    height: 67px;
    padding: 18px 64px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #D9CDCD;
    background: #FFF;
    font-size: 16px;
}




button{
    transform: translate(0%, 0%);
    width: 246px;
    height: 67px;
    text-align: center;
    padding: 18px 60px;
    color: #fff;
    font-size: 16px;
    border: none;
    background: linear-gradient(180deg, #61B4F0 0%, #2A72DA 100%);
    border-radius: 0px 10px 10px 0px;
    z-index: 1;
    cursor: pointer;
}

button:hover {
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
}
button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #239de3, #24a5ef, #93cced);
    background-size: 300%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5%;
}
button:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 4s linear infinite;
}
  



.header-content1{
    width: 100%;
    margin-top: 10rem;
    
}

.header-content1 img{
    width: 100%;
    max-width: 2413px;
    height: auto;
}

.Star{
    position: relative;
    width: 25px;
    height: 25px;
    top:0.4rem;
}


  
@media screen and (max-width: 1050px) {
    .header{
        flex-direction: column;
    }

    .input-field{
        border-radius: 10px 10px 10px 10px;
        text-align: center;
    }

    button{
        border-radius: 10px 10px 10px 10px;
        margin-top: 20px;
    
    
    }
  
}

@media screen and (max-width: 650px) {
    .header-content h1{
        font-size: 40px;
        margin-top: 6rem;
    }

    
  
  
    

}



