
.header {
    text-align: center;
    justify-content: center;
    align-items: center;
}


  
.header-content h1{
    color: #0B0B0B;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 2rem;
    margin-top: 5rem;



}


.header-content p{
    text-align: center;
    font-size: 18px;
    margin-top: 2rem;
    font-weight: 500;


}


.input-container{
    margin-top: 2rem;

}
.input-field{
    width: 100%;
    max-width: 622px;    
    height: 67px;
    padding: 18px 64px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #D9CDCD;
    background: #FFF;
    font-size: 16px;
}
.button{
    width: 246px;
    height: 67px;
    padding: 18px 60px;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(180deg, #61B4F0 0%, #2A72DA 100%);
    border: none;
    color: #FFF;
    font-size: 16px;


}



.header-content1{
    width: 100%;
    margin-top: 10rem;
    
}

.header-content1 img{
    width: 100%;
    max-width: 2413px;
}

.Star{
    position: relative;
    width: 25px;
    height: 25px;
    top:0.4rem;
}
  
@media screen and (max-width: 1050px) {
    .header{
        flex-direction: column;
    }

    .input-field{
        border-radius: 10px 10px 10px 10px;
        text-align: center;
    }

    .button{
        border-radius: 10px 10px 10px 10px;
        margin-top: 20px;
        background: linear-gradient(180deg, #61B4F0 0%, #2A72DA 100%);
    
    
    }
  
}

@media screen and (max-width: 650px) {
    .header-content h1{
        font-size: 40px;
        margin-top: 8rem;
    }

    
  
  
    

}



