
.footer {
    width: 100%;
    height: 450px;
    border-radius: 1px;
    background: linear-gradient(359deg, #062866 0%, #1977A0 100%);
    text-align: center;
    color: aliceblue;

}





.footer2 {
    color: white;
    margin: 3rem ;

}

.footer2 a{
    color: white;
    margin: 1rem ;

}
  

.footer-logo img {
    width: 110px;
    margin-bottom: 1rem;

    

}
.line2{
    border: none; /* Remove the default border */
    height: 1px; /* Set the height of the line */
    border-top: 1px dashed #fcf9f9; /* Apply dashed border style */
    margin: 20px 0; 
}


  






  

